header{
    background-color: black;
    padding-bottom: 1em;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid rgb(43, 43, 43);
    position: fixed;
    width: 100%;
}

header h2{
    margin-left: 1em;
    color: rgb(253, 253, 253);
}

header a{
    margin-right: 0.5em;
    text-decoration: none;
    color: aqua;
}

header a:hover{
    color: white;
    text-shadow: 0px 0px 8px aqua;
    transition: 0.2s ease-in-out;
}

@media(max-width: 500px){
    header a{
        display: none;
    }

    header h2:hover{
        text-shadow: 0px 0px 8px aqua;
    }
}